 <!--#FOOTER -->


 <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <ion-icon name="business-outline" style="color: #34CC33;"></ion-icon> Student Accommodtion
          </a>

          <p class="footer-text">
            A platform to rent your properties without any agent or commisions.
          </p>

        </div>

        <ul class="footer-list">
        </ul>

        <ul class="footer-list" style="margin-left: -50px;">

          <li>
            <p class="footer-list-title">Useful Links</p>
          </li>

          <li>
            <a href="index.php#howitworks" class="footer-link">
              <ion-icon name="chevron-forward" style="color: #34CC33;"></ion-icon>
              <span class="span">How it works</span>
            </a>          
          </li>
          <li>
            <a href="index.php#blogs" class="footer-link">
              <ion-icon name="chevron-forward" style="color: #34CC33;"></ion-icon>
              <span class="span">Blogs</span>
            </a>          
          </li>
          <li>
            <a href="index.php#aboutus" class="footer-link">
              <ion-icon name="chevron-forward" style="color: #34CC33;"></ion-icon>
              <span class="span">Abous Us</span>
            </a>            
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Contact Details</p>
          </li>

          <li class="footer-item">
            <ion-icon name="location-outline"></ion-icon>

            <address class="address">
              NSBM Green University,<br>
              Homagama,<br>
              Sri Lanka
            </address>
          </li>

          <li class="footer-item">
            <ion-icon name="mail-outline"></ion-icon>

            <a href="mailto:studentaccomdation@gmail.com" class="footer-link">studentaccomdation@gmail.com</a>
          </li>

          <li class="footer-item">
            <ion-icon name="call-outline"></ion-icon>

            <a href="tel:+152534468854" class="footer-link">+94112224448</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2024. All Right Reserved <a href="#" class="copyright-link"></a>.
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

  </footer>

  <!-- #BACK TO TOP -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>
  <!-- custom js link -->
  <script src="./scripts/script.js" defer></script>
  <!-- ionicon link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

